config.cfg
*.swp
thr*/
log/
img/

*.vvp
*.vcd
*.log

**/thx*/
**/thr*/
**/*.vvp
**/*.vcd
**/*.log

*.synth*
*.cut*
*.bench
*_synth*
*.test
parser.out
parsetab.py
*tb*
*.scan.v*
*script.ys
*.synth*
equiv_test.vcd
sim.vpp