# --- FILE: config.cfg ---

# Base path
BASE_DIR="/home/filippo/Scrivania/proveSintesi"
VENV_PATH="/home/filippo/fault-env/bin/activate"

SYN_LIBS_DIR="${BASE_DIR}/Syn_libraries"

# --- Configurazione 15nm ---
LIB_15NM="${SYN_LIBS_DIR}/15nm/CCS/NanGate_15nm_OCL_typical_conditional_ccs.lib"
VERILOG_15NM="${SYN_LIBS_DIR}/15nm/verilog/NanGate_15nm_OCL_functional.v"

# --- Configurazione 130nm ---
LIB_130NM="${SYN_LIBS_DIR}/130nm/lib/sg13g2_stdcell_typ_1p20V_25C.lib"
VERILOG_130NM="${SYN_LIBS_DIR}/130nm/verilog/sg13g2_stdcell.v"
